<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626601790877-9aq0bloo40irb23m8vgpr391f090sf78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626601790877-9aq0bloo40irb23m8vgpr391f090sf78</string>
	<key>API_KEY</key>
	<string>AIzaSyAJdcwCFzK6AfcOAjN3J228UcdYX0ZGQaY</string>
	<key>GCM_SENDER_ID</key>
	<string>626601790877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shannon.WhereTo</string>
	<key>PROJECT_ID</key>
	<string>whereto-eb51a</string>
	<key>STORAGE_BUCKET</key>
	<string>whereto-eb51a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626601790877:ios:c2ba88b46fdd71569fb374</string>
	<key>DATABASE_URL</key>
	<string>https://whereto-eb51a.firebaseio.com</string>
</dict>
</plist>